/* FONT */
@font-face {
  font-family: "FontPrimaire";
  src: url("../assets/fonts/AntonSC-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontSeconfaire";
  src: url("../assets/fonts/Abel-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontOccasionnelle";
  src: url("../assets/fonts/Caveat-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

/* SELECTION CUSTOM */
::selection {
  color: white;
  background-color: rebeccapurple;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  color: var(--CouleurPrimaire);
}

::-webkit-scrollbar-track {
  background-color: var(--CouleurFont);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--CouleurPrimaire);
}

/* COULEUR */
:root {
  --CouleurFont: black;
  --CouleurPrimaire: white;
  --CouleurSecondaire: #e1e2e3;
  --CouleurSun: #ffdd00;
  --CouleurMoon: #c24641;
  --FontPrimaire: "FontPrimaire", sans-serif;
  --FontSeconfaire: "FontSeconfaire", sans-serif;
  --FontOccasionnelle: "FontOccasionnelle";
}

/* Pour une animation douce */
html {
  scroll-behavior: smooth;
}

/* BODY */
* {
  background-color: var(--CouleurFont);
  margin: 0;
  padding: 0;
  font-family: var(--FontSeconfaire);
  overflow: hidden;
}

/* HEADER */
header {
  padding: 20px 0 20px 20px;
  z-index: 3;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

header nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  padding: 35px;
  text-decoration: none;
  color: var(--CouleurPrimaire);
  font-family: var(--FontPrimaire);
  font-size: 20px;
}

.lien-navigation {
  overflow-x: initial;
  justify-content: left;
  margin-left: 15px;
}

.theme {
  margin-right: 50px;
  justify-content: right;
}

/* ANIM HOVER NAV */
.nav-link {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--CouleurPrimaire);
  font-family: var(--FontPrimaire);
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  letter-spacing: 2px;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--CouleurPrimaire);
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

/* SWITCH */
.toggle {
  background-color: var();
  width: 56px;
  height: 56px;
  margin: 0 -5px 0 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  color: var(--CouleurMoon);
  transition-delay: 200ms;
}

.icon--sun {
  color: var(--CouleurSun);
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

/* PROJETS GITHUB */
#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.5em);
  color: var(--CouleurPrimaire);
  font-family: var(--FontPrimaire);
  max-width: 90%;
  width: 100%;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  word-wrap: break-word;
}
#message a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--CouleurMoon);
  font-family: var(--FontPrimaire);
}
