/* FONT */
@font-face {
    font-family: "FontHeading";
    src: url("../assets/fonts/AntonSC-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* CENTRALISATION DE STYLE */
:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-background: #f0f0f0;
    --color-overlay: rgba(0, 0, 0, 0.7);
    --color-overlay-gradient: linear-gradient(to top,rgba(0, 0, 0, 0.7),transparent);

    --font-heading: "FontHeading", serif;
    --font-body: "Montserrat", sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --border-radius: 8px;
    --icon-size: 60px;
    --spacing-small: 5px;
    --spacing-medium: 15px;
    --spacing-large: 20px;

    --transition-speed: 0.3s;
}

/* BODY */
body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
}

.container-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70vh;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: var(--border-radius);
    perspective: 1000px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

/* HEADER */
.container-header-project {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--spacing-large);
    padding: var(--spacing-large) 0;
}

.title-project {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.title-project h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-family: var(--font-body);
    font-weight: var(--font-weight-regular);
    color: var(--color-primary);
}

.title-project h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.language-projet {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
}

.language-projet i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    font-size: 2em;
    color: var(--color-primary);
    transition: all var(--transition-speed) ease;
}

.language-projet i:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transform: translateY(-3px);
}

/* CARROUSEL */
.images-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.carousel-image {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}

/* CONTENT */
.content-project {
    width: 100%;
    padding: var(--spacing-medium) var(--spacing-large);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-overlay-gradient);
    color: var(--color-secondary);
    z-index: 2;
    box-sizing: border-box;
}

.description-project {
    width: 70%;
}

.text-project {
    font-family: var(--font-body);
    font-size: 1.1em;
    line-height: 1.4;
    margin: 0;
    font-weight: var(--font-weight-light);
}

.link-project {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-medium);
}

.lien-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    color: var(--color-secondary);
    text-decoration: none;
    transition: all var(--transition-speed) ease;
}

.lien-project i {
    font-size: 1.5em;
}

.lien-project:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.next-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    background: none;
    color: var(--color-secondary);
    cursor: pointer;
    transition: all var(--transition-speed) ease;
}

.next-project i {
    font-size: 1.5em;
}

.next-project:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* LIEN RESEAU */
.tech-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  color: var(--color-primary);
  text-decoration: none;
  transition: all var(--transition-speed) ease;
}

.tech-link:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transform: translateY(-3px);
}


/* ANIMATION NEXT PROJECT */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

/* ANIMATIONS DE CARTE  */
@keyframes cardOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

@keyframes cardOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(10px);
        opacity: 0;
    }
}

@keyframes cardInRight {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes cardInLeft {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.flip-out-left {
    animation: cardOutLeft 0.15s linear forwards;
}

.flip-out-right {
    animation: cardOutRight 0.15s linear forwards;
}

.flip-in-right {
    animation: cardInRight 0.15s linear forwards;
}

.flip-in-left {
    animation: cardInLeft 0.15s linear forwards;
}

.container-project {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}

.container-project:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* ANIMATION POUR LES ICÔNES */
@keyframes iconFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.icon-fade-in {
    animation: iconFadeIn 0.5s forwards;
}

.language-projet i, .tech-link {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

[data-aos] {
    pointer-events: none;
}
[data-aos].aos-animate {
    pointer-events: auto;
}

/* MEDIA QUERIES POUR RESPONSIVE */
@media screen and (max-width: 768px) {
    .container-header-project {
        margin-top: 0 !important;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-large);
        width: 95%;
    }

    .title-project h2 {
        font-size: 2rem;
    }

    .title-project h1 {
        font-size: 2.2em;
    }

    .container-project {
        height: calc(100vh - 150px); 
        min-height: 450px;
        max-height: 70vh;
        width: 95%;
    }

    .content-project {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-medium);
        padding: var(--spacing-medium);
    }

    .description-project {
        width: 100%;
        margin-bottom: var(--spacing-small);
    }

    .link-project {
        width: 100%;
        justify-content: flex-end;
    }
}

/* PETIT ECRANT */
@media screen and (max-width: 480px) {
    .container-header-project {
        gap: var(--spacing-large);
    }

    .title-project h2 {
        font-size: 2.5rem;
    }

    .title-project h1 {
        font-size: 2.8em;
    }

    .language-projet {
        flex-wrap: wrap;
    }

    .container-project {
        height: calc(100vh - 120px);
        min-height: 400px;
    }

    .content-project {
        padding: var(--spacing-medium) var(--spacing-medium);
    }

    .text-project {
        font-size: 1em;
        text-align: end;
    }
}

@media screen and (max-width: 380px), (max-height: 700px) {
    .container-project {
        height: calc(100vh - 100px);
        min-height: 350px;
    }
    
    .title-project h2 {
        font-size: 1.8rem;
    }
    
    .title-project h1 {
        font-size: 2.3em;
    }
    
    .text-project {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) and (min-aspect-ratio: 9/16) {
    .container-project {
        height: 58vh;
    }
}

@media screen and (min-height: 800px) and (max-width: 480px) {
    .container-project {
        height: 70vh;
    }
}